body{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    height: wrap;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}
.layout_kiri{
    width: 40%;
    height: wrap;
}
.layout_kanan{ 
    width: 40%;
    height: wrap;
    /* margin-top: 10px; */
}